.container {
    position: relative;
    background-color: #0d0e12;
    padding-top: 2rem;
    border-top: 2px solid var(--brown);
    .ref_block {
        position: absolute;
        top: -90px;
    }
    
    .title {
        background: linear-gradient(45deg, #e7ecee 20%, #a4adb4 55%, #dbcca8 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
        text-align: center;
        font-weight: 700;
        font-size: clamp(1.4rem, 2.4vw, 3.2rem);
        padding: 0rem 2rem;
    }
}


.form_container {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 600px 320px;
    justify-content: center;
    height: 520px;
    padding: 3rem 0;
    overflow: hidden;
    background-color: #0d0e12;
    border-bottom: 2px solid var(--brown);
    // background: -webkit-linear-gradient(to right, #1e130c, #9a8478) border-box;
    // background: linear-gradient(to right, #1e130c, #463627);
}

.image_container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 70/45;
    transform: translate(-60px, -30px);
    overflow: hidden;
    user-select: none;
    img {
        border-radius: 2rem;
    }
}

.form {
    position: relative;
    display: grid;
    width: 320px;
    justify-items: center;
    padding: 3rem 0rem;
    gap: 6.5rem;    
}

.submit_btn {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: max-content;
    padding: 0 2rem;
    width: 246px;
    height: 46px;
    border: 2px solid white;
    border-radius: 2rem;
    backdrop-filter: blur(20px);
    background-color: hsla(0, 0%, 100%, .1);
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
    transform: translateY(-40px);
    color: var(--white);
        &:hover {
            cursor: pointer;
        }
}

.terms {
    position: relative;
    display: grid;
    grid-template-columns: 20px 270px;
    gap: 1rem;
    align-items: center;
    
    .agreement {
        margin: 0;
        font-size: clamp(1.2rem, 1.3vw, 1.4rem);
        .link {
            font-size: clamp(1.2rem, 1.3vw, 1.4rem);
            text-decoration: underline;
            color: var(--brown);
        }
    }
    
    .error_terms {
        position: absolute;
        top: -30px;
        left: 30px;
        color: var(--brown);
        font-size: 1.1rem;
    }
}

@media (max-width: 1140px) {
    .form_container {
        grid-template-columns: 1fr;
        justify-items: center;
        height: 520px;
        padding: 3rem 0;
    }
    
    .image_container {
        display: none;
    }
}
