.container {
    display: grid;
    gap: 2rem 5rem;
    grid-template: 'image title' 150px
                    'image info' 350px
                      / 400px minmax(600px, 1000px);
    align-items: start;
    justify-content: center;
    padding: 2rem 4rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    background: var(--black);
        
    .title_container {
        display: grid;
        grid-area: title;
        .title {
            background: linear-gradient(45deg, #b17e43 20%, #c5a47e 55%, #c5a47e 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: start;
            font-weight: 700;
            font-size: clamp(2rem, 3.2vw, 4.8rem);
            margin-bottom: 3rem;
        }
        .expert {
            background: linear-gradient(45deg, #e7ecee 20%, #a4adb4 55%, #dbcca8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: start;
            font-weight: 700;
            font-size: clamp(2rem, 3.2vw, 4.8rem);
        }
    }

    .info {
        display: grid;
        grid-area: info;
        ul {
            padding: 0 4rem;
            font-size: clamp(1.4rem, 2vw, 3.2rem);

            li {
                position: relative;
                white-space: nowrap;
                padding: 1.5rem 0;
                span {
                    font-weight: 700;
                    font-size: clamp(1.4rem, 2vw, 3.2rem);
                }
                &::before {
                    display: inline-block;
                    font-size: clamp(1.4rem, 2vw, 3.2rem);
                    transform: scale(2) translate(-50%, -10%);
                    content: "• ";
                    color: #b17e43;
                }
            }
        }
    }
    .image_container {
        display: grid;
        align-self: center;
        grid-area: image;
        position: relative;
        height: 100%;
        max-height: 430px;
        width: 400px;
        margin-left: 1rem;
        z-index: 1;
        img {
            border-radius: 2rem;
        }
    }
}

.text_color {
    color: var(--brown);
}

@media (max-width: 1400px) {
    .container {
        gap: 2rem 5rem;
        grid-template: 'image title' 350px
                        'info info' 350px
                          / 400px minmax(500px, max-content);
        padding: 2rem 4rem;
        height: auto;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .container {
        gap: 2rem 5rem;
        grid-template: 'title' 100px
                        'image' 250px
                        'info' 350px
                          / 1fr;
        padding: 2rem 4rem;
        height: auto;
        justify-items: center;
    }
}

@media (max-width: 600px) {
    .container {
        gap: 2rem 5rem;
        grid-template: 'title' 60px
                        'image' 200px
                        'info' 170px
                          / 1fr;
        padding: 2rem 1rem;
        height: auto;
        justify-items: center;
    }
    .title {
        text-align: center !important; 
        margin-bottom: 1rem !important; 
    }
    .info {
        ul {
            padding: 0 1rem !important;
            font-size: clamp(1.4rem, 2vw, 3.2rem);

            li {
                position: relative;
                white-space: wrap !important;
                padding: 0.7rem 0 !important;
            }
        }
    }
    .image_container {
        width: 300px !important;
        margin-left: 0rem !important;
    }
}