.text {
    height: 32px;
    width: 300px;
    background: rgba(255,255,255,0.3);
    border-radius: 4px;
    text-align: left;
    z-index: 3;
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
    color: rgba(255,255,255,1);
    padding: 8px 30px;
    box-shadow: none;
    border: none;
    outline: none;
    transition: all 0.25s ease;
        &::placeholder {
            visibility: visible;
            color: rgba(255,255,255,0.3);
        }
        &:focus::placeholder {
            visibility: hidden;
            transition: 0.25s;
            transform: scale(0);
        }
        &:hover {
            cursor: pointer;
        }
}

.field {
    position: relative;
}

.label {
    position: absolute;
    color: var(--brown);
    font-size: clamp(1.8rem, 2.2vw, 2.4rem);
    font-weight: 700;
    top: -32px;
    left: -15px;
    &:hover {
        cursor: pointer;
    }
}

.required {
    font-size: clamp(1.8rem, 2.2vw, 2.4rem);
}

.error_outline {
    border: 2px solid #aa001f !important;
    background-color: rgba(236, 94, 112, 0.5)
}

.alert {
    position: absolute;
    width: 280px;
    top: 35px;
    left: 20px;
    font-size: 1.2rem;
}

@media (max-width: 500px) {
    .label {
            top: -30px;
            left: -10px;
         }
    .alert {
        font-size: 1.1rem;
    }
}