.modal {
    position: absolute;
    bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 7px;
    height: 100px;
    width: 320px;
    border-radius: 2rem;
    border: 2px solid var(--white);
    box-shadow: rgb(0 0 0 / 40%) 3px 3px 3px 3px;
    visibility: hidden;
    opacity: 0; 
    transform: translateY(220px);
    transition: 0.5s;
    z-index: 10;
}

.successful {
    background: #006A4E;
}

.unsuccessful {
    background: red;
}

.warning {
    background-color: #ff972f;
}

.active {
    visibility: visible;
    opacity: 1; 
    transform: translateY(0px)
}

.text {
    text-align: center;
    padding: 2px 10px;
    color: var(--white);
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
}